/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.box-spacing {
  margin: 1%;
  padding: 2%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 1%;
}
@media (max-width: 700px) {
  nav {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
}
nav a {
  padding: 3%;
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: red;
}
.top {
  background-color: lavender;
  height: 70vh;
}
@media (max-width: 500px) {
  .top {
    height: 40vh;
  }
}
.top h1 {
  font-size: 100px;
  margin: 1%;
  padding: 2%;
}
@media (max-width: 700px) {
  .top h1 {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .top h1 {
    font-size: 40px;
  }
}
.top h2 {
  font-size: 40px;
  margin: 1%;
  padding: 2%;
}
@media (max-width: 500px) {
  .top h2 {
    font-size: 20px;
  }
}
.top p {
  font-size: 20px;
  margin: 1%;
  padding: 2%;
}
.top .button {
  border: solid 1px lavender;
  margin: 3%;
  padding: 1%;
  text-decoration: none;
  background-color: lightblue;
}
.middle {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  align-content: space-between;
}
.middle .text {
  width: 45%;
}
.middle .text h2 {
  font-size: 40px;
  margin: 1%;
  padding: 2%;
}
.middle ul {
  display: flex;
  flex-direction: column;
}
.middle li {
  padding: 1%;
  text-align: center;
}
footer h3 {
  font-size: 35px;
  margin: 1%;
  padding: 2%;
}
footer table {
  width: 100%;
  margin-left: 3%;
}
footer table td {
  margin: 1%;
  padding: 2%;
}
footer p {
  border: solid darkslategray;
  background-color: darkslategray;
  margin: 1%;
  padding: 2%;
  text-align: center;
}
